rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /app/menu {
      allow read, write: if true;
    }
    // Allow fallback match if we store under other paths
    match /menus/{document} {
      allow read, write: if true;
    }
  }
}
